@import url("./reset.css");

body {
  width: 98vw;
}
/* Elementos */
a {
  text-decoration: none;
  color: inherit;
}
ul, ol, li {
  list-style-type: none;
}
h1 {
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;
  padding: 4%;
}
h2 {
  font-size: 3vw;
  color: white;
  background: linear-gradient(90deg, #34355100 0%, #34355100 4.99%, #323b4c 5%, #323b4c 94.99%, #34355100 95%);
  text-align: center;
  text-transform: uppercase;
  padding: 2%;
}
h3 {
  font-size: 3vw;
}
h4 {
  font-size: 2.2vw;
}
h5 {
  font-size: 1.75vw;
}
span, a, li {
  font-size: 1.6vw;
}
button {
  color: aliceblue;
  padding: .3rem;
  width: 85%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
img {
  width: 85%;
  max-width: 15rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 100%;
  border: .5rem solid #323b4c;
}
/* Classes */
.container {
  padding: 2rem 1.5rem;
  min-height: 1027px;
  display: flex;
  justify-content: space-evenly;
  gap: 1.2rem;
  overflow: hidden;
}

.left-container {
  padding-bottom: 5%;
  width: 40%;
  min-width: 18rem;
  max-width: 40rem;
  min-height: 93vh;
  height: 100%;
  color: aliceblue;
  background-color: #323b4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: .8rem;
}
.left-container .section {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffffff 0%, #ffffff 49.99%, #ffffff00 50%);
}
.separator.white {
  background-color: #ffffff80;
  width: 100%;
  height: .25rem;
}

.right-container {
  color: #323b4c;
  width: 55%;
  min-height: 93vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: .8rem;
}
.right-container .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.certificates {
  max-height: 20vh;
  overflow-y: auto;
}
.name {
  width: 100%;
  background: linear-gradient(#b2bdcf 0%, #b2bdcf 77.99%, #ceced500 78%, #ceced500 100%);
  margin-bottom: 1.8rem;
}
.separator.black {
  background-color: #00000080;
  width: 100%;
  height: .25rem;
}