@import url("./reset.css");

body {
  width: 98vw;
}
/* Elementos */
a {
  text-decoration: none;
  color: inherit;
}
ul, ol, li {
  list-style-type: none;
}
h1 {
  font-size: 5vw;
  text-align: center;
  text-transform: uppercase;
  padding: 4%;
}
h2 {
  font-size: 3vw;
  color: white;
  background: linear-gradient(90deg, #34355100 0%, #34355100 4.99%, #323b4c 5%, #323b4c 94.99%, #34355100 95%);
  text-align: center;
  text-transform: uppercase;
  padding: 2%;
}
h3 {
  font-size: 3vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}
h4 {
  font-size: 2.2vw;
}
h5 {
  font-size: 1.75vw;
}
span, a, li {
  font-size: 1.6vw;
}
button {
  font-size: 2.2vw;
  color: #f0f8ff;
  text-transform: uppercase;
  padding: .3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
img {
  width: 85%;
  max-width: 15rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  border-radius: 100%;
  border: .5rem solid #323b4c;
}
::-webkit-scrollbar {
  width: .65vw;
}
::-webkit-scrollbar-track {
  background-color: #323b4c30;
}
::-webkit-scrollbar-thumb {
  background-color: #323b4c30;
  border-radius: 18px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #323b4c80;

}
/* Classes */
.container {
  padding: 2rem 1.3rem 2rem 1.5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.2rem;
  overflow: hidden;
}

.left-container {
  width: 40%;
  min-width: 18rem;
  max-width: 40rem;
  min-height: 93vh;
  height: 100%;
  color: aliceblue;
  background-color: #323b4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: .8rem;
}
.left-container .section {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.left-container .section.language {
  padding-bottom: 5%;
}
.img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffffff 0%, #ffffff 49.99%, #ffffff00 50%);
}
.separator.white {
  background-color: #ffffff80;
  width: 100%;
  height: .25rem;
}

.right-container {
  color: #323b4c;
  width: 95%;
  min-height: 92vh;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: .8rem;
}
.right-container-row {
  color: #323b4c;
  width: 95%;
  min-height: 92vh;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: .8rem;
}
.right-container .section {
  margin-top: 1vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.certificates {
  max-height: 20vh;
  overflow-y: auto;
}
.name {
  width: 100%;
  background: linear-gradient(#b2bdcf 0%, #b2bdcf 77.99%, #ceced500 78%, #ceced500 100%);
  margin-bottom: 1.8rem;
}
.separator.black {
  background-color: #00000080;
  width: 100%;
  height: .25rem;
}
.menu {
  padding: 1vw 0;
  width: 5%;
  min-width: 5rem;
  max-width: 40rem;
  min-height: 93vh;
  height: 100%;
  color: aliceblue;
  background-color: #323b4c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  gap: 1vw;
}
.left-container-button {
  padding: 1vw .5vw;
  font-size: 1.35vw;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center;
  white-space: nowrap;
  border: .5vw solid #ffffff80;
  border-radius: 1.2vw;
  flex: 1;
}
.page {
  width: 100%;
  height: 92vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2vh;
}
.page-content {
  padding: .75% .5% .5% 1.5%;
  height: 100%;
  overflow-y: auto;
  background-color: #323b4c10;
  border-radius: 1.2vw;
}
.caroussel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.caroussel button {
  padding: 0;
  color: #323b4c;
  height: 100%;
}
.card-area {
  width: 100%;
  padding: 2% 0 2% 0;
  background: linear-gradient(#323b4c10, #323b4c30, #323b4c10);
  border: .3vw solid #323b4c50;
  border-radius: 1.2vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1%;
}
.section.centralized {
  width: 100%;
  text-align: center;
  padding: 2% 0 2% 0;
  background: linear-gradient(#323b4c10, #323b4c30, #323b4c10);
  border: .3vw solid #323b4c50;
  border-radius: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.app-card {
  padding: 1vw;
  background: linear-gradient(#323b4c10, #323b4c30, #323b4c10);
  border: .3vw solid #323b4c50;
  border-radius: 1.2vw;
  width: 21vw;
  height: 32vw;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-image {
  width: 19vw;
  height: 19vw;
  border: 2px solid black;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.card-header{
  font-size: 3.7vw;
}
.card-image {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  border-radius: 50%;
  object-fit: cover;
}
.clickable-mark {
  width: 2.5vw;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 2vw;
  }
  .left-container {
    min-width: 100%;
    min-height: 0;
  }
  .right-container {
    min-width: 100%;
    min-height: 0;
  }
  .page {
    height: 90vh;
  }
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 6vw;
  }
  h4, button {
    font-size: 4.2vw;
  }
  h5 {
    font-size: 3.7vw;
  }
  span, a, li {
    font-size: 3.5vw;
  }
  .menu {
    padding: 1.3%;
    flex-direction: row;
    min-width: 100%;
    min-height: 0;

  }
  .left-container-button {
    padding: 1vw 2vw;
    font-size: 2.3vw;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    transform-origin: center;
    white-space: nowrap;
    border: .5vw solid #ffffff80;
    border-radius: 1.2vw;
  }
  .right-container-row {flex-direction: column;}
}

@media screen and (min-width: 768px) and (max-width: 1140px) {
  span, a, li {
    font-size: 2vw;
  }
  .left-container-button {
    font-size: 2.8vw;
  }
}